section {
  display: grid;
  width: 100%;
  grid-template-areas:
    "nav nav nav nav nav"
    "user user user user user"
    "container container container container container";

  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;

  h2 {
    color: white;
    margin: auto;
    margin-top: 50px;
  }

  .card {
    display: block;
    box-sizing: border-box;
    margin: 10px;
    height: 220px;
    width: 250px;
    background: rgba(155, 155, 155, .2);
    padding-left: 10px;
    color: white;
    border: 3px solid #66FCF1;
    border-radius: 5px;
  }

}