.card_content {
  height: 150px;
}

.card-title {
  height: 50px;
  width: 95%;
  justify-content: space-between;
}

.star-card-button {
  background-image: url('../assets/star.svg');
  background-size: no-repeat; 
  width: 30px;
  position: absolute;
  height: 30px;
}

.star-card-button:active, .star-card-button:hover {
  background-image: url('../assets/star-active.svg');
  background-size: no-repeat; 
  width: 30px;
  position: absolute;
  height: 30px;
}

.films {
  overflow: scroll;
}