form {
    height: 60%;
    width: 30%;
    border: 3px solid #66FCF1;
    border-radius: 5px;
    background-color: #0B0C10;
    margin-top: 10%;
    padding: 20px;
  }

  img {
    height: 25%;
  }

  option {
    height: 30px;
  }

  select {
    width: 200px;
    height: 30px;
    font-size: .8em;
    border-radius: 5px;
  
  }