form {
    /* height: 60%; */
    height: 60vw;
    width: 30%;
    border: 3px solid #66FCF1;
    border-radius: 5px;
    background-color: #0B0C10;
    margin-left: 35%;
    padding: 20px;
  }

.submit {
    display: block;
    margin-left:37%;
    margin-top: 30px;
}

img {
    height: 25%;
}

input:focus,
select:focus {
    outline: none;
    box-shadow: 0px 0px 15px red;
}

.select select:active {
    color: #fff;
    background-color: #0074d9;
}

.select:after {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-top: -.15rem;
    pointer-events: none;
    border-top: .35rem solid;
    border-right: .35rem solid transparent;
    border-bottom: .35rem solid transparent;
    border-left: .35rem solid transparent;
}

.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.select {
  position: relative;
  display: inline-block;
  width: 52%;
  color: #555;
}
.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0;
  border: 1px solid #D0D0D0;
  border-radius: .25rem;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
 