.userContainer {
    border: 3px solid #66FCF1;
    border-radius: 5px;
    width: 95vw;
    height: 20vh;
    justify-content: space-evenly;
    display: flex;
    grid-area: user
}

.right {
    text-align: left;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}