.userContainer {
    background-color: #0B0C10; 
    border: 3px solid #66FCF1;
    border-radius: 5px;
    width: 95vw;
    height: 20vh;
    justify-content: space-evenly;
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}

.right {
    text-align: left;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
}
.card {
  box-sizing: border-box;
  margin: 10px;
  height: 220px;
  width: 250px;
  background: rgba(155, 155, 155, .2);
  padding-left: 10px;
  color: white;
  border: solid 3px rgb(204, 203, 203);
}

.card_content {
  height: 150px;
}

.card-title {
  height: 50px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

