.card {
  box-sizing: border-box;
  margin: 10px;
  height: 220px;
  width: 250px;
  background: rgba(155, 155, 155, .2);
  padding-left: 10px;
  color: white;
  border: solid 3px rgb(204, 203, 203);
}

.card_content {
  height: 150px;
}

.card-title {
  height: 50px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.star-card-button {
  display: flex;
  height: 50px;
  margin-left: auto;
}

.star-card-button:active {
  display: flex;
  height: 50px;
  margin-left: auto;
}

.residents {
  overflow: scroll;
}